{% extends "::base.html.twig" %}

{% block body %}
    <h1>Users registered</h1>
    <div style="margin: 20px;">
        <table>
            <thead>
                <th>Email</th>
                <th>Name</th>
                <th>Status</th>
                <th>Last Login</th>
                <th>Roles</th>
            </thead>
            {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.enabled }}</td>
                <td>{{ user.lastlogin|date('d/m/Y') }}</td>
                <td>{% for role in user.roles %} {{ role }} {% endfor %}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}