{% extends "::base.html.twig" %}

{% block body %}
    
<style>
table {
    border-collapse: collapse;
    min-width: 800px;
}

table, th, td {
    border: 1px solid black;
}

th {
    background-color: #AAAAAA;
    color: white;
    text-align: left;
    font-size: 120%;
}
</style>
    
    <h1>Users registered</h1>
    <div style="margin: 20px;">
        <table>
            <thead>
                <th>Login</th>
                <th>Name</th>
                <th>First Name</th>
                <th>Created</th>
                <th>Updated</th>
            </thead>
            {% for user in users %}
            <tr>
                <td>{{ user.login }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.created|date('d/m/Y') }}</td>
                <td>{{ user.updated|date('d/m/Y') }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div style="margin: 20px;">
        <a href="{{ path("users_add") }}">Add a user</a>
    </div>
{% endblock %}